.ant-descriptions-item-container {
  align-items: center !important;
}
.ant-input[disabled] {
  color: #000000 !important ;
  background-color: white !important;
  border-color: white !important;
  opacity: 1 !important;
  cursor: text!important;
}